<server description="Sample Liberty server">
    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
        id="defaultHttpEndpoint" />

    <basicRegistry id="basic">
        <user name="admin" password="adminpwd" />
    </basicRegistry>

    <administrator-role>
        <user>admin</user>
    </administrator-role>

    <keyStore id="defaultKeyStore" password="Liberty" />
</server>
